
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    text-align: left;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

th {
    background-color: bisque;
    color: navy;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

td:nth-child(1) {
    text-align: left;
}

td:nth-child(3) {
    color: red;
}

tr:nth-child(even) {
    background-color: gray;
}